body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-group label {
    width: 150px; /* фиксированная ширина для выравнивания */
    margin-right: 10px;
}
.form-group input {
    flex-grow: 0.2; /* позволяет полям расширяться */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

textarea {
    flex-grow: 0.2; /* позволяет полям расширяться */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    height: 100px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
